.main {
	padding: 20px 50px;
	min-height: 100vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: #efefef;
	.input {
		font-size: 0.83rem;
	}
	.selector {
		min-width: 80px;
	}
	.orderList {
		display: flex;
		justify-content: space-around;
		.columnLeft,
		.columnRight {
			min-width: 360px;
			max-width: 420px;
			padding: 20px;
			display: flex;
			flex-direction: column;
		}
	}
	.searchBar {
		margin: 20px;
		display: flex;
		padding: 14px 30px;
		justify-content: space-between;
		.selectForm {
			flex-grow: 1;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.selector {
				margin-right: 28px;
			}
		}
		.searchForm {
			width: 40%;
		}
	}
}
